@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #192a0b;
    --color-secondary: #7f7844;
  }
}

@keyframes blurThumbAnimation {
  0% {
    @apply blur-[1px];
  }
  20% {
    @apply blur-none;
  }
  100% {
    @apply blur-none;
  }
}

@keyframes outlineAnimation {
  0% {
    outline-style: solid;
    outline-color: rgba(76, 0, 130, 0.083);
  }
  80% {
    @apply outline outline-indigo-600/80;
  }
  100% {
    @apply outline outline-indigo-600/90;
  }
}

@keyframes animateOptions {
  0% {
    display: block;
    opacity: 0;
  }
  100% {
    opacity: 100%;
  }
}

.bluredThumb {
  animation-name: blurThumbAnimation;
  animation-duration: 5s;
}

.applyOutline {
  animation-name: outlineAnimation;
  animation-duration: 5s;
}
.animateOptions {
  animation-name: animateOptions;
  animation-duration: 0.5s;
}

.primary {
  background-color: #455737;
}

.secondary {
  color: #002c39;
}

.gradientos {
  background: #050e2f;
  background: linear-gradient(315deg, #050e2f, #c7572c);
}
.gradientos-light {
  /*
* Created with https://www.css-gradient.com
* Gradient link: https://www.css-gradient.com/?c1=eaeee7&c2=041e06&gt=l&gd=dbr
*/
  background: #eaeee7;
  background: linear-gradient(315deg, #eaeee7, #041e06);
}

@keyframes filterAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

.applyFilterAnimation {
  animation-name: filterAnimation;
  animation-duration: 0.33s;
}

@keyframes filterAnimationClose {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

.applyFilterAnimationClose {
  animation-name: filterAnimationClose;
  animation-duration: 0.2s;
  animation-fill-mode: forwards;
}

.defaultBtn {
  @apply transition-colors bg-[#627733] text-white hover:bg-[#8FA147];
}
.abortBtn {
  @apply transition-colors bg-[#C34A36] text-white hover:bg-[#FF8066];
}
